<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Burgers To Devour</title>
	{{!-- Adding JQuery just in case we use Ajax --}}
<link rel="stylesheet" href="assets/css/burger_style.css">
<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
</head>
	<body style="background-color:#ffff00">
		{{{ body }}}
	  <script src="/assets/js/javascript" type="text/javascript"></script>
	</body>
</html>
