body{
  background-color:#ffff00;
}
.bottom{
  margin: 10px;
  color: white;
  width: 100px
}
img{
  margin-bottom: 30px;
}
ul{
  list-style: none;
}
span.label{
  color: black;
  font-size: 15px;
}
li{
  margin-bottom:  30px;
}
