body{
  background-color: #ffff00 !important;
}
.container{
  margin: 0 auto;
  text-align: center;
}
ul{
  display:block;
}
#rightside{
  float: right;
}
#leftside{
  float: left;
}
.form-group{
  padding-top: 10px;
}
